pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlob2",
						"type": "DatasetReference",
						"parameters": {
							"YearDS": {
								"value": "@pipeline().parameters.Year",
								"type": "Expression"
							},
							"MonthDS": {
								"value": "@pipeline().parameters.Month",
								"type": "Expression"
							},
							"DayDS": {
								"value": "@pipeline().parameters.Day",
								"type": "Expression"
							},
							"HourDS": {
								"value": "@pipeline().parameters.Hours",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					]
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata').output.Exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Delete2",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AzureBlob3",
									"type": "DatasetReference",
									"parameters": {
										"YearDS": {
											"value": "@pipeline().parameters.Year",
											"type": "Expression"
										},
										"MonthDS": {
											"value": "@pipeline().parameters.Month",
											"type": "Expression"
										},
										"DayDS": {
											"value": "@pipeline().parameters.Day",
											"type": "Expression"
										},
										"HourDS": {
											"value": "@pipeline().parameters.Hours",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"recursive": true,
								"maxConcurrentConnections": 1
							}
						}
					]
				}
			},
			{
				"name": "Log Files Download",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If Condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Hours",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "HttpSource",
									"httpRequestTimeout": "00:01:40"
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Wikipedia_LS",
									"type": "DatasetReference",
									"parameters": {
										"YearDS": {
											"value": "@pipeline().parameters.Year",
											"type": "Expression"
										},
										"MonthDS": {
											"value": "@pipeline().parameters.Month",
											"type": "Expression"
										},
										"DayDS": {
											"value": "@pipeline().parameters.Day",
											"type": "Expression"
										},
										"HourDS": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureBlob3",
									"type": "DatasetReference",
									"parameters": {
										"YearDS": {
											"value": "@pipeline().parameters.Year",
											"type": "Expression"
										},
										"MonthDS": {
											"value": "@pipeline().parameters.Month",
											"type": "Expression"
										},
										"DayDS": {
											"value": "@pipeline().parameters.Day",
											"type": "Expression"
										},
										"HourDS": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Process and Create Files1",
				"description": "",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Log Files Download",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/feliped@microsoft.com/WikipediaADF_ADLSGen2 Generic (1)",
					"baseParameters": {
						"yearWiki": {
							"value": "@pipeline().parameters.Year",
							"type": "Expression"
						},
						"monthWiki": {
							"value": "@pipeline().parameters.Month",
							"type": "Expression"
						},
						"dayWiki": {
							"value": "@pipeline().parameters.Day",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Create Tables and grant permissions",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Process and Create Files1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/feliped@microsoft.com/tableAccess"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Year": {
				"type": "string",
				"defaultValue": "2019"
			},
			"Month": {
				"type": "string",
				"defaultValue": "02"
			},
			"Day": {
				"type": "string",
				"defaultValue": "19"
			},
			"Hours": {
				"type": "array",
				"defaultValue": [
					10,
					11,
					12
				]
			}
		},
		"folder": {
			"name": "New folder"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-01T20:26:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}